<!DOCTYPE html>
<html>
<header>
<script type="text/javascript">
	function myFunction() {
		alert("hola mundo");
	}

</script>
</header>
<head>
</head>

	<th:block th:fragment="headerBarra">
		<link rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
			integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
			crossorigin="anonymous">
	</th:block>
			
	<div th:fragment="menuAlumno">
		<div th:replace="barraMenu :: headerBarra"></div>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			
			<!-- Alumno -->
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-link" href="/principal">Inicio</a> 
					<a class="nav-link" href="/prueba/listadoPruebasParaEstudiantes">Realizar Pruebas</a>
					<a class="nav-link" href="/prueba/resultados">Resultados</a>
				</div>
			</div>
		</nav>
	</div>
	
	
	<div th:fragment="menuProfesor">
		<div th:replace="barraMenu :: headerBarra"></div>
		<nav class="navbar navbar-expand-lg navbar-light bg-success">
			
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-link" href="/principal">Inicio</a> 
					<a class="nav-link" href="/prueba/crearPrueba">Prueba nueva</a> 
					<a class="nav-link" href="/prueba/listadoPruebasParaProfesores">Listado de Pruebas</a> 
					<a class="nav-link" href="/prueba/crearPregunta">Pregunta</a>
					<a class="nav-link" href="/prueba/formularioCrearPruebaAutomatica">Realizar Prueba Automatica</a>
					<a class="nav-link" href="/pregunta/listarPreguntas">Listar preguntas</a>
				</div>
			</div>
		</nav>
	</div>	
		
	<div th:fragment="menuAdmin">
		<div th:replace="barraMenu :: headerBarra"></div>
		<nav class="navbar navbar-expand-lg navbar-blue bg-dark">
		
		
			
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-link" href="/principal">Inicio</a> 
					<a class="nav-link" href="/profesor/listadoProfesores">Mantenimiento Profesores</a>
					<a class="nav-link" href="/alumno/listadoAlumnos">Mantenimiento Alumnos</a>
				</div>
			</div>
		</nav>
	</div>

</html>