<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="ISO-8859-1">
<title>Alumno</title>
<link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
</head>

<header>
	<div th:replace="barraMenu :: menuAdmin"></div>
</header>


<body>
<div class="container my-2" align="center">
 
<h3>Lista de Alumno</h3>
<a th:href="@{/alumno/agregarAlumno}" class="btn btn-primary btn-sm mb-3" >Nuevo Alumno</a>
    <table style="width:80%" border="1"
           class = "table table-striped table-responsive-md">
    <thead>
  <tr>
    <th>Id</th>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Email</th>
    <th>Direccion</th>
    <th>Usuario</th>
    <th>Acciones</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="alumno:${alumnos}">
        <td th:text="${alumno.id}"></td>
        <td th:text="${alumno.nombre}"></td>
        <td th:text="${alumno.apellido}"></td>
        <td th:text="${alumno.email}"></td>
        <td th:text="${alumno.direccion}"></td>
        <td th:text="${alumno.usuario}"></td>
        <td> <a th:href="@{/alumno/borrar/{id}(id=${alumno.id})}"
                class="btn btn-danger">Borrar</a>
    </td>
  </tr>
  </tbody>
</table>
</div>
</body>
</html>