<!DOCTYPE html>

<html lang="en">

<head>
<div th:replace="barraMenu :: headerBarra"></div>
<title>Repositorio</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<header>
<div th:replace="barraMenu :: menuVar"></div>
</header>
<body>
	

	<div class="container">
		<h2>Cuestionarios, Exámenes, Test, y muchos tipos de evaluaciones
			más</h2>

	</div>

	<center>
		<img
			src="https://sni.gob.ec/documents/10180/107789/evaluacion.png/d176f16e-a204-445a-90fc-17b120d89bde?t=1442609067899">
	</center>

</body>
</html>