<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="ISO-8859-1">
<title>Pruebas para Profesores</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>

<header>
	<div th:replace="barraMenu :: menuProfesor"></div>
</header>

<body>
	<div class="container my-2" align="center">

		<h3>Lista de Pruebas</h3>

		<table style="width: 80%" border="1"
			class="table table-striped table-responsive-md">
			<thead class="thead-dark">
				<tr>
					<th>Id</th>
					<th>Titulo</th>
					<th>Descripcion</th>
					<th>Estado</th>
					<th>Accion</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="prueba:${pruebas}">
					<td th:text="${prueba.id}"></td>
					<td th:text="${prueba.titulo}"></td>
					<td th:text="${prueba.desc}"></td>
					<td th:text="${prueba.publicada>=(1)} ? 'Publicada' : 'Sin Publicar'" />
					
					<td>
						<a th:href="@{/prueba/publicar/{id}(id=${prueba.id})}" class="btn-sm btn-primary">Publicar</a>
						<a th:href="@{/prueba/borrar/{id}(id=${prueba.id})}" class="btn-sm btn-danger">Borrar</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
