<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="ISO-8859-1">
<title>Resultados de pruebas</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
	
</head>

<header>
<div th:replace="barraMenu :: menuAlumno"></div>
</header>

<body>
	<div class="container my-2" align="center">

		<h3>Pruebas realizadas</h3>

		<table style="width: 80%" border="1"
			class="table table-striped table-responsive-md">
			<thead class="thead-dark">
				<tr>
					<th>Id</th>
					<th>Prueba</th>
					<th>Fecha</th>
					<th>Cantidad preguntas</th>
					<th>Cantidad preguntas ok</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="resultado:${resultados}">
					<td th:text="${resultado.id}"></td>
					<td th:text="${resultado.prueba.titulo}"></td>
					<td th:text="${resultado.fecha}"></td>
					<td th:text="${resultado.cantPreguntas}"></td>
					<td th:text="${resultado.cantRespuestasBien}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
