<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="ISO-8859-1">
<title>Resultados</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>

<header>
	<div th:replace="barraMenu :: menuAlumno"></div>
</header>

<body>
	<div class="container my-2" align="center">

		<h3>Resultado Prueba</h3>
		<p th:text="${resultado}"></p>

		<a th:href="@{/prueba/listar}"> Volver a listado de pruebas</a>
	</div>
</body>
</html>