<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Listado de opciones</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<header>
<div th:replace="barraMenu :: menuProfesor"></div>
</header>
<body>

	<div class="container my-2" align="center">

		<h1 th:text="${pregunta.id}"></h1>
		<h2 th:text="${pregunta.enunciado}"></h2>

		<table style="width: 80%" border="1"
			class="table table-striped table-responsive-md">
			<thead class="thead-dark">
				<tr>
					<th>Id</th>
					<th>Descripcion</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="opcion:${pregunta.opciones}">
					<td th:text="${opcion.id}"></td>
					<td th:text="${opcion.descOpcion}"></td>
				</tr>
			</tbody>
		</table>
		
	</div>
</body>
</html>
